@use "sass:map";
@use "../init" as *;

$card-header-background-color: map.get($greyscale, "light") !default;
$card-background-color: $background !default;
$card-padding: 0.75rem !default;
$card-border: $border !default;
$card-border-width: $border-width !default;
$card-border-radius: $radius !default;
$card-border-inner-width: $border-width !default;

$card-hover-background-color: $hover-background !default;

$card-margin-top: 1rem !default;
$card-margin-bottom: 1rem !default;

.card {
	background-color: $card-background-color;
	border-color: $card-border;
	border-width: $card-border-width;
	border-style: solid;
	border-radius: $card-border-radius;

	@include mt($card-margin-top);
	@include mb($card-margin-bottom);

	> *:not(:first-child) {
		border-color: $card-border;
		border-top-width: $card-border-inner-width;
		border-top-style: solid;
	}
}

.card-header {
	font-weight: bold;
	padding: $card-padding;
	background-color: $card-header-background-color;
}

.card-body {
	> *:not(:first-child) {
		border-color: $card-border;
		border-top-width: $card-border-inner-width;
		border-top-style: solid;
	}
}

.card-item {
	display: flex;
	padding: $card-padding;
	background-color: $card-background-color;
	border: 0;
	width: 100%;
	box-sizing: border-box;

	.card.is-selectable > &:hover,
	.card.is-selectable > .card-body > &:hover {
		background-color: $card-hover-background-color;
	}

	&:not(.is-vertical) {
		align-items: center;
	}

	&.is-vertical {
		display: block;
	}
}
