$card-background-color: map-get($colors, "white") !default;
$card-padding: 0.75rem;
$card-border: $border !default;
$card-border-width: $border-width !default;
$card-border-radius: $radius !default;
$card-border-inner: $card-border !default;
$card-border-inner-width: $border-width !default;

$card-margin-top: 1rem !default;
$card-margin-bottom: 1rem !default;

.card {
  background-color: $card-background-color;
  border-color: $card-border;
  border-width: $card-border-width;
  border-style: solid;
  border-radius: $card-border-radius;

	@include mt($card-margin-top);
	@include mb($card-margin-bottom);

  > *:not(:first-child) {
    border-top-color: $card-border-inner;
    border-top-width: $card-border-inner-width;
    border-top-style: solid;
  }
}

.card-header {
  font-weight: bold;
  padding: $card-padding;
}

.card-item {
  display: flex;
  padding: $card-padding;

  .is-selectable > & {
    .card-item:hover {
      background-color: map-get($colors, "light");
    }
  }

  &:not(.is-vertical) {
    align-items: center;
  }

  &.is-vertical {
    flex-direction: column;
  }
}
