$card-background-color: map-get($colors, "white") !default;
$card-padding: 0.75rem !default;
$card-border: $border !default;
$card-border-width: $border-width !default;
$card-border-radius: $radius !default;
$card-border-inner-width: $border-width !default;

$card-margin-top: 1rem !default;
$card-margin-bottom: 1rem !default;

.card {
  --bo: #{toChannels($card-border)};
  background-color: rgba(var(--b), 1);
  border-color: rgba(var(--bo), 1);
  border-width: $card-border-width;
  border-style: solid;
  border-radius: $card-border-radius;

  @include mt($card-margin-top);
  @include mb($card-margin-bottom);

  > *:not(:first-child) {
    border-color: rgba(var(--bo), 1);
    border-top-width: $card-border-inner-width;
    border-top-style: solid;
  }
}

.card-header {
  font-weight: bold;
  padding: $card-padding;
}

.card-body {
  > *:not(:first-child) {
    border-color: rgba(var(--bo), 1);
    border-top-width: $card-border-inner-width;
    border-top-style: solid;
  }
}

.card-item {
  display: flex;
  padding: $card-padding;

  .card.is-selectable > &:hover,
  .card.is-selectable > .card-body > &:hover {
    background-color: map-get($colors, "light");
    mix-blend-mode: multiply;
  }

  &:not(.is-vertical) {
    align-items: center;
  }

  &.is-vertical {
    flex-direction: column;
  }
}
