@use "sass:map";
@use "../init" as *;

$container-override: unset !default;

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 $breakpoint-gap;
	width: 100%;

	@each $name, $bp in $breakpoints {
		@if $container_override == unset {
			@include gt($bp) {
				width: $bp;
			}
		}
		@else {
			@include gt($bp) {
				width: map.get($container-override, $name);
			}
		}
	}

	@each $name, $bp in $breakpoints {
		&.max-width-#{$name} {
			max-width: $bp;
		}
	}
}
