.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 $breakpoint-gap;
	width: 100%;

	@each $name, $bp in $breakpoints {
		@include gt($bp) {
			width: $bp;
		}
	}

	@each $name, $bp in $breakpoints {
		&.max-width-#{$name} {
			max-width: $bp;
		}
	}
}
