$section-large-padding: 4em !default;
$section-medium-padding: 2em !default;
$section-small-padding: 2em !default;

.section {
	background-color: rgba(var(--b), 1);

	&.is-small {
		padding: $section-small-padding 0;
	}
	&.is-medium {
		padding: $section-medium-padding 0;
	}
	&.is-large {
		padding: $section-large-padding 0;
	}
	&.is-fullheight {
		box-sizing: border-box;
		min-height: 100vh;
	}
}

