$field-margin-top: 0.75rem !default;
$field-margin-bottom: 0.75rem !default;
$input-border: $border !default;
$input-border-width: $border-width !default;
$input-shadow: $shadow !default;
$input-padding-vertical: 0.5em !default;
$input-padding-horizontal: 0.5em !default;
$textarea-max-height: 40em !default;
$textarea-min-height: 8em !default;

.field {
  @include mt($field-margin-top);
  @include mb($field-margin-bottom);
}

%input-textarea {
  box-sizing: border-box;
  box-shadow: $input-shadow;
  background-color: rgba(var(--b), 1);
  border-color: rgba(var(--bo), 1);
  border-width: $input-border-width;
  border-style: solid;
  padding: $input-padding-vertical $input-padding-horizontal;
  max-width: 100%;
  width: 100%;
  border-radius: $radius;

  &[readonly] {
    box-shadow: none;
  }
}

input {
  @extend %input-textarea;
}

textarea {
  @extend %input-textarea;
  display: block;
  resize: vertical;
  min-width: 100%;
  max-width: 100%;
  min-height: $textarea-min-height;
  max-height: $textarea-max-height;
}
