@use "../1.utilities/variables" as *;

.link,
a:not(.no-link) {
	background-color: unset;
	color: $link;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

a.no-link {
	color: unset;
	text-decoration: unset;
}
