$family: $family-sans-serif;

$title-size: $size-2 !default;
$title-weight: bold !default;
$title-margin-top: 1.5rem !default;
$title-margin-bottom: 1.5rem !default;

$subtitle-size: $size-4 !default;
$subtitle-weight: bold !default;
$subtitle-margin-top: 2rem !default;
$subtitle-margin-bottom: 1rem !default;

$paragraph-margin-top: 1rem !default;
$paragraph-margin-bottom: 1rem !default;

$label-color: map-get($greyscale, "dark") !default;
$label-font-size: 0.75em !default;
$label-margin-top: 0.5rem !default;
$label-margin-bottom: 0.5rem !default;

body {
	font-family: $family;
	line-height: 1.15;
}

.content h1,
.title {
	font-size: $title-size;
	font-weight: $title-weight;

	@include mt($title-margin-top);
	@include mb($title-margin-bottom);
}

.content h2,
.subtitle {
	font-size: $subtitle-size;
	font-weight: $subtitle-weight;

	@include mt($subtitle-margin-top);
	@include mb($subtitle-margin-bottom);
}

.content p,
.paragraph {
	@include mt($paragraph-margin-top);
	@include mb($paragraph-margin-bottom);
}

.content h3 {
	font-weight: $subtitle-weight;
	@include mt($paragraph-margin-top);
	@include mb($paragraph-margin-bottom);
}

.label {
	color: $label-color;
	font-size: $label-font-size;

	@include mt($label-margin-top);
	@include mb($label-margin-bottom);

	&.is-caps {
		text-transform: uppercase;
		letter-spacing: 0.23em;
		transform: scale(1, 0.95);
	}
}

a:not(.no-link) {
	color: $link;
	text-decoration: none;
	margin: -1px -1px;
	padding: 1px 1px;
	border-radius: $border-radius;

	&:hover {
		background-color: $link-background;
	}
}

a.no-link {
	color: unset;
	text-decoration: unset;
}

b {
	font-weight: 700;
}

button {
	font-size: 1em;
}

em {
	font-style: italic;
}

label {
	display: block;
}
