@use "sass:map";
@use "sass:meta";

@mixin gt($bp) {
	@if meta.type-of($bp) == string {
		$bp: map.get($breakpoints, $bp);
	}
	@media only screen and (min-width: $bp) {
		@content;
	}
}

@mixin lt($bp) {
	@if meta.type-of($bp) == string {
		$bp: map.get($breakpoints, $bp);
	}
	@media only screen and (max-width: $bp) {
		@content;
	}
}
