@use "sass:color";
@use "sass:map";

$breakpoint-gap: 16px !default;

// Breakpoints are defined by their min-size
// mobile is implicitly defined as 0px.
$breakpoints:   (
	"tablet":     700px,
	"desktop":    960px+(2*$breakpoint-gap),
	"widescreen": 1152px+(2*$breakpoint-gap),
	"fullhd":     1344px+(2*$breakpoint-gap),
)!default;

$greyscale: (
	"black":          hsl(231, 9%, 4%),
	"dark":           hsl(231, 9%, 30%),
	"grey-dark":      hsl(231, 9%, 52%),
	"grey":           hsl(231, 9%, 74%),
	"grey-light":     hsl(231, 9%, 92%),
	"light":          hsl(231, 9%, 98%),
	"white":          hsl(231, 9%, 100%),
)!default;

$colors: (
	"red":            hsl(348, 69%, 50%),
	"orange":         hsl(24,  69%, 58%),
	"yellow":         hsl(44,  72%, 60%),
	"green":          hsl(141, 68%, 48%),
	"turquoise":      hsl(171, 68%, 50%),
	"blue":           hsl(207, 68%, 50%),
	"purple":         hsl(271, 68%, 48%),
)!default;

$text:                map.get($greyscale, "black") !default;
$background:          map.get($greyscale, "white") !default;
$border:              map.get($greyscale, "grey") !default;
$border-width:        1px !default;

$accent:              map.get($colors, "blue") !default;
$link:                get-dark(map.get($colors, "blue")) !default;
$link-background:     get-light(map.get($colors, "blue")) !default;

$family-sans-serif: "IBM Plex Sans", "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$family-serif:     serif !default;
$family-monospace: monospace !default;
$render-mode:      optimizeLegibility !default;

$size-0: 3rem !default;
$size-1: 2.5rem !default;
$size-2: 2rem !default;
$size-3: 1.5rem !default;
$size-4: 1.25rem !default;
$size-5: 1.125rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$easing:         ease-out !default;
$speed:          86ms !default;

$radius-small:   2px !default;
$radius:         4px !default;
$radius-large:   10px !default;
$radius-rounded: 9999px !default;

$shadow:         0 2px 2px rgba(0,0,0,.075) !default;
$hover-background: map.get($greyscale, "light") !default;

:root {
	@each $name, $value in $greyscale {
		--#{$name}: #{$value};
	}
	@each $name, $value in $colors {
		--#{$name}: #{$value};
		--#{$name}-dark: #{get-dark($value)};
		--#{$name}-light: #{get-light($value)};
	}
}
