@use "sass:color";

$breakpoint-gap: 16px !default;

// Breakpoints are defined by their min-size
// mobile is implicitly defined as 0px.
$breakpoints:   (
	"tablet":     700px,
	"desktop":    960px+(2*$breakpoint-gap),
	"widescreen": 1152px+(2*$breakpoint-gap),
	"fullhd":     1344px+(2*$breakpoint-gap),
)!default;

$colors: (
	"black":          hsl(231, 9%, 4%),
	"dark":           hsl(231, 9%, 30%),
	"greydark":       hsl(231, 9%, 52%),
	"grey":           hsl(231, 9%, 74%),
	"greylight":      hsl(231, 9%, 92%),
	"light":          hsl(231, 9%, 98%),
	"white":          hsl(231, 9%, 100%),

	"red":            hsl(348, 91%, 45%),
	"orange":         hsl(24,  92%, 46%),
	"yellow":         hsl(44,  93%, 48%),
	"green":          hsl(141, 91%, 40%),
	"turquoise":      hsl(171, 91%, 40%),
	"cyan":           hsl(204, 91%, 45%),
	"blue":           hsl(217, 91%, 43%),
	"purple":         hsl(271, 91%, 43%),
	"lightred":       hsl(348, 95%, 95%),
	"lightorange":    hsl(24,  95%, 95%),
	"lightyellow":    hsl(48,  95%, 95%),
	"lightgreen":     hsl(141, 95%, 90%),
	"lightturquoise": hsl(171, 95%, 90%),
	"lightcyan":      hsl(204, 95%, 95%),
	"lightblue":      hsl(195, 95%, 95%),
	"lightpurple":    hsl(271, 95%, 95%),
)!default;

$text:                map-get($colors, "black") !default;
$background:          map-get($colors, "white") !default;
$border:              map-get($colors, "grey") !default;
$border-width:        1px !default;

$accent:              map-get($colors, "blue") !default;
$link:                map-get($colors, "blue") !default;
$link-hover:          map-get($colors, "dark") !default;
$link-hover-border:   map-get($colors, "grey") !default;
$link-focus:          map-get($colors, "dark") !default;
$link-focus-border:   map-get($colors, "grey") !default;
$link-visited:        map-get($colors, "dark") !default;
$link-visited-border: map-get($colors, "grey") !default;
$link-active:         map-get($colors, "dark") !default;
$link-active-border:  map-get($colors, "grey") !default;

$family-sans-serif: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$family-serif:     serif !default;
$family-monospace: monospace !default;
$render-mode:      optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$easing:         ease-out !default;
$speed:          86ms !default;

$radius-small:   2px !default;
$radius:         4px !default;
$radius-large:   10px !default;
$radius-rounded: 9999px;

$shadow:         0 2px 2px rgba(0,0,0,.075);
$hover-background: map-get($colors, "light");

:root {
	@each $name, $value in $colors {
		--#{$name}: #{$value};
	}
}
