$box-padding: 0.75rem !default;
$box-border: $border !default;
$box-border-width: $border-width !default;
$box-border-radius: $radius !default;

.box {
	display: flex;
	background-color: rgba(var(--b), 1);
	border-color: rgba(var(--bo), 1);
	border-width: $box-border-width;
	border-style: solid;
	border-radius: $box-border-radius;
	padding: $box-padding;

	&.is-vertical {
		flex-direction: column;
	}
}
