$button-background-color: white !default;
$button-border-color: $border !default;
$button-border-width: $border-width !default;
$button-color: $text !default;
$button-padding-vertical: 0.5em !default;
$button-padding-horizontal: 1em !default;

.button {
  --bo: $button-border-color;
  box-sizing: border-box;
  position: relative;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: $button-padding-vertical $button-padding-horizontal;
  background-color: rgba(var(--b), 1);

  &:not(.is-link)::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px 0px 3px rgba(var(--f), 0.4);
    border-radius: $radius;
    z-index: 1;
  }

  &:not(.is-link)::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-color: var(--bo);
    border-width: $button-border-width;
    border-style: solid;
    border-radius: $radius;
    mix-blend-mode: multiply;
  }

  &.is-hover:not(.is-link),
  &:hover:not(.is-link) {
    background: linear-gradient(rgba(var(--f), 0.1), rgba(var(--f), 0.1)),
      linear-gradient(rgba(var(--b), 1), rgba(var(--b), 1));
  }

  &.is-link {
    background-color: transparent;
    border-color: transparent;
    color: $button-color;
    padding: 0;
    text-decoration: underline;
  }
}
