@use "sass:map";
@use "../init" as *;

$button-background-color: white !default;
$button-border: $border !default;
$button-border-width: $border-width !default;
$button-color: $text !default;
$button-padding-vertical: 0.375em !default;
$button-padding-horizontal: 0.75em !default;

$button-hover-background-color: $hover-background !default;

.button, a.button {
	display: inline-block;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: $button-border;
	border-radius: $radius;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.875em;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	padding: $button-padding-vertical $button-padding-horizontal;
	background-color: rgba(var(--b), 1);
	text-decoration: none;

	&:hover {
		background: $button-hover-background-color;
	}

	@each $name, $color in map.merge($greyscale, $colors) {
		&.is-#{$name} {
			background-color: $color;
			border-color: get-dark($color);
			color: choose-contrast-color($color);

			&:hover {
				background-color: get-dark($color);
			}
		}
	}
}
