@use "sass:map";

.swatch {
	position: relative;
	display: inline-flex;
	height: 1em;
	width: 1em;
	border-radius: $radius;
	align-self: center;
	border: 1px solid $border;

	&:not(:last-child) {
		margin-right: 0.5em;
	}

  @each $name, $color in map.merge($greyscale, $colors) {
		&.is-#{$name} {
			background-color: $color;
			border-color: scale-color($color, $lightness: -20%, $saturation: -50%);
			color: choose-contrast-color($color);
		}
	}
}
