@use "sass:map";
@use "sass:color";
@use "../init" as *;

.swatch {
	position: relative;
	display: inline-flex;
	height: 1em;
	width: 1em;
	border-radius: $radius;
	align-self: center;
	border: 1px solid $border;

	&:not(:last-child) {
		margin-right: 0.5em;
	}

  @each $name, $color in $greyscale {
		&.is-#{$name} {
			background-color: $color;
			border-color: color.scale($color, $lightness: -20%, $saturation: -50%);
			color: choose-contrast-color($color);
		}
	}

  @each $name, $color in $colors {
		&.is-#{$name}-light {
			background-color: get-light($color);
			border-color: color.scale(get-light($color), $lightness: -20%, $saturation: -50%);
			color: choose-contrast-color(get-light($color));
		}

		&.is-#{$name} {
			background-color: $color;
			border-color: color.scale($color, $lightness: -20%, $saturation: -50%);
			color: choose-contrast-color($color);
		}

		&.is-#{$name}-dark {
			background-color: get-dark($color);
			border-color: color.scale(get-dark($color), $lightness: -20%, $saturation: -50%);
			color: choose-contrast-color(get-dark($color));
		}
	}
}
